*.whl
*.so
**/__pycache__/
dist/*
build/*
_skbuild/*
sscCdi.egg-info/*
.**
._**
bin/.DS_Store
bin/._.DS_Store
**/.DS_Store
**/._.DS_Store
data/dev/*.npy
examples/output.h5
tests/*.png
tests/test_output.h5
